.left
{
float:left;
width:30%;
background-color:#BFAF7F;
}

.center
{
margin:auto;
width:70%;
background-color:#b0e0e6;
}

.right
{
float:right;
}

li
{
display:inline;
}

horizontal
{
display:block;
}

.titleLink
{
	color:#ffffff;
	font-size:15pt;
	float:right;
}

bglightbeige
{
background-color:#B9B288;
}

titletext
{
	position:relative;
	bottom:-30px;
	font-weight:bold;
	font-size:30pt;
}

headertext
{
	font-weight:bold;
	font-size:20pt;
}

center
{
	margin-left: auto;
	margin-right: auto;
}

roundCorners
{
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

body
{
	background:#F3EBD1;
	margin: 0px;
}

#titlebar
{
	color:#B8AA80;
	background:#6F5302;
	width: 100%;
	padding-bottom: 40px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 45px;
}

.roundBox
{
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
} 
	
	
}

input.btn { 
	  background-color:#66642E;
	  color:#FFFFFF;
	  border: 1px solid;
      border-color: #696 #363 #363 #696;
	  float:none;
      filter:progid:DXImageTransform.Microsoft.Gradient
     (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}

.otherText{
	
	
	
}

.btn { 
	  background-color:#66642E;
	  color:#FFFFFF;
  	  font: bold 15pt 'trebuchet ms',helvetica,sans-serif;
      border: 1px solid;
      border-color: #696 #363 #363 #696;
	  float:none;
      filter:progid:DXImageTransform.Microsoft.Gradient
     (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}

#btnLeft { 
   	position:absolute;
	left:0px;
	top:75px;
}

#btnRight {
   	position:absolute;
	right:0px;
	top:75px;
}

.image { 
    padding-top: 20px;
    padding-bottom: 20px;
}


div.pic {
  	float: left;
  	font-size:10pt;
  	padding-right: 15px;
  	padding-left: 15px;
  }
  
div.pic p {
   text-align: center;
   }


#btnContent { 
	background-color:#66642E;
	position:absolute;
	left:0px;
}

#btnFile { 
	background-color:#8B9B92;
	position:absolute;
	left:145px;
}

#btnFacebook { 
	background-color:#313C71;
	position:absolute;
	left:285px;
}
 

#personDisplay
{
	position:absolute;
	left:120px;
	top:100px;
	
	width:175px;
	background-color:#BFAF7F;
	
	font-size:15pt;
	color:white;

    padding-top: 20px;
    padding-bottom: 20px;
    
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;   
}

#recentviewed
{
	
	position:absolute;
	left:375px;
	top:100px;
	
	color:#FFFFFF;
	font-size:15pt;	
	background-color:#DAD3B2;
	width:510px;
	height: 175px;
	margin-bottom: 75px;
	padding-left:20px;
	
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
} 

#buttonbar
{
	
	position:absolute;
	left:375px;
	top:350px;
	
	padding:20px;
	font-size:25pt;
	color:white;
	
	background-color:#B9B288;
	width:500px;
	height:125px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}


#buttons
{
	position:relative;
	left:0px;
	top:25px;
	height:150px;
}



#otherpeople
{	
	
	position:absolute;
	left:900px;
	top:100px;
	
	
	background-color:#DDD9BF;
	list-style-type:none;
	width: 250px;
	height:475px;
	
	font-size:13pt;
	color:#534D26;
	
	
	padding: 10px;
	margin-left: 100px;
	margin-right: auto;
	float:left;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
-}
