<div> 
	<div> 
		<h2>About Us 
		</h2>		
	</div>
	
	<div> 
		<h3>Families in Touch  
		</h3>
	</div>
	
	<div>
		<p>	Families in Touch is a unique study conducted by the Technologies for Aging Gracefully lab at the University of Toronto.  We are investigating ways in which technologies in the home can improve communications among family members.
		</p>

	</div>
	
	<div> 
		<h3>Taglab&#39;s Mission
		</h3>
	</div>
	
	<div>
		<p>	TagLab&#39;s mission is R&amp;D in support of aging throughout the life course.  We identify &quot;sweet spots&quot; where technology seems relevant to human need, envision ways in which the technology could address those needs, then design and test prototypes.  Our work is grounded in intensive field research both before and after any technological intervention.  Our clients often suffer from Alzheimer&#39;s disease, mild cognitive impairment, amnesia, or stroke; but we also work with normallly aging senior citizens.  Our goal is typically supporting cognition, communication, or social interaction.
		</p>	
		<p>Learn more at <a href="http://taglab.utoronto.ca" target="_blank">taglab.utoronto.ca</a> 
			<a href="http://link" target="_blank">

				<img src="http://taglab.png" border="0" alt="Taglab&#39;s website" width="111" height="106">
			</a>
		</p>
	</div>
	
	<div> 
		<h3>Families in Touch team
		</h3>
	</div>
	
	<div>
		<p>	Prof. Baecker has done human-computer interaction research for 44 years and has focused his work on technologies for senior citizens for the last 9 years.
		</p>

		
		<p>Elaine Macaranas, industrial designer of the system, received extensive training in inclusive design principles and ethnographic methods during the past three years.  She is in charge of designing the project and all of its elements.
		</p>
		
		<p>Thariq Shihipar, an Engineering Science student at the University of Toronto, is in charge of all hardware and software development.
		</p>
	</div>
	
</div>
		
		
		</body></html>