<div>
	<div>
		<h3>Contact Us
		</h3>
	</div>
	
	<div>
		<p>Technologies for Aging <WBR>Gracefully Lab
		</p>

		<p>Knowledge Media Design <WBR>Institute and Department of Computer Science
		</p>
		<p>University of Toronto
		</p>
		
		<p>Bahen Center for Information Technology 
		</p>	
		<p>40 St. George Street Room 7212
		</p>
		<p>Toronto, Ontario
		</p>
		<p>M5S 2E4
		</p>

		
		<p>Email: <a href="mailto:participate@taglab.ca" target="_blank">participate@taglab.ca</a>
		</p>
		<p>Tel: (416) 978-6983
		</p>
		<p>Fax: (416) 978-5634
		</p>
	</div>
	
	
</div>

