<div>
	<div>
		Terms of Use
	</div>
	
	<div>
		<h2>Terms of Service
		</h2>

		
		<h3>1. Your Acceptance
		</h3>
		
		<ol>		
			<li>By using or visiting the Families in Touch website or any Families in Touch products, software, data feeds, and services provided to you on, from, or through the Families in Touch website (collectively the &quot;Service&quot;) you signify your agreement to (1) these terms and conditions (the &quot;Terms of Service&quot;), (2) Families in Touch&#39;s privacy notice, found at <a href="http://familiesintouch.taglab.utoronto.ca/privacy" target="_blank"> http://familiesintouch.taglab.<WBR>utoronto.ca/privacy</a>. If you do not agree to any of these terms, the Families in Touch privacy notice, or the Community Guidelines, please do not use the Service.
			</li>
			
			<li>Although we may attempt to notify you when major changes are made to these Terms of Service, you should periodically review the most up-to-date version <a href="http://familiesintouch.taglab.utoronto.ca/terms" target="_blank"> http://familiesintouch.taglab.<WBR>utoronto.ca/terms</a>. Families in Touch may, in its sole discretion, modify or revise these Terms of Service and policies at any time, and you agree to be bound by such modifications or revisions. Nothing in these Terms of Service shall be deemed to confer any third-party rights or benefits.
			</li>

		</ol>
		
		<h3>2. Service
		</h3>
		
		<ol>
			<li>These Terms of Service apply to all users of the Service, including users who are also contributors of Content on the Service. “Content” includes the text, software, scripts, graphics, photos, sounds, music, videos, audiovisual combinations, interactive features and other materials you may view on, access through, or contribute to the Service. The Service includes all aspects of Families in Touch, including but not limited to all products, software and services offered via the Families in Touch website, the Families in Touch &quot;Player,&quot; the Families in Touch &quot;Uploader&quot; and other applications.
			</li>
		</ol>

		
		<h3>3. Families in Touch Accounts
		</h3>
		
		<ol>
			<li>In order to access some features of the Service, you will have to create a Families in Touch account. You may never use another&#39;s account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify Families in Touch immediately of any breach of security or unauthorized use of your account.
			</li>
			
			<li>Although Families in Touch will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of Families in Touch or others due to such unauthorized use.
			</li>
		</ol>
		
		<h3>4. General Use of the Service—Permissions and Restrictions
		</h3>

		
		<p>Families in Touch hereby grants you permission to access and use the Service as set forth in these Terms of Service, provided that:
		</p>	
	
			<ol>
				<li>You agree not to distribute in any medium any part of the Service or the Content without Families in Touch&#39;s prior written authorization, unless Families in Touch makes available the means for such distribution through functionality offered by the Service (such as the Player).
				</li>
			
				<li>You agree not to alter or modify any part of the Service.
				</li>
			
				<li>You agree not to access Content through any technology or means other than the video playback pages of the Service itself, the Player, or other explicitly authorized means Families in Touch may designate.
				</li>
			
				<li>You agree not to use the Service for any of the following commercial uses unless you obtain Families in Touch&#39;s prior written approval:
			
				<ul>

					<li>the sale of access to the Service;
					</li>
				
					<li>the sale of advertising, sponsorships, or promotions placed on or within the Service or Content; or
					</li>
				
					<li>the sale of advertising, sponsorships, or promotions on any page of an ad-enabled blog or website containing Content delivered via the Service, unless other material not obtained from Families in Touch appears on the same page and is of sufficient value to be the basis for such sales.
					</li>
				</ul>
				
				
				<li>Prohibited commercial uses do not include:
			
					<ul>
						<li>uploading an original video to Families in Touch;
						</li>

				
						<li>showing Families in Touch videos through the Player; or
						</li>
				
						<li>any use that Families in Touch expressly authorizes in writing.
						</li>
					</ul>
				</li>
			
				<li>If you use the Families in Touch Uploader, you agree that it may automatically download and install updates from time to time from Families in Touch. These updates are designed to improve, enhance and further develop the Uploader and may take the form of bug fixes, enhanced functions, new software modules and completely new versions. You agree to receive such updates (and permit Families in Touch to deliver these to you) as part of your use of the Uploader.
				</li>
			
				<li>You agree not to use or launch any automated system, including without limitation, &quot;robots,&quot; &quot;spiders,&quot; or &quot;offline readers,&quot; that accesses the Service in a manner that sends more request messages to the Families in Touch servers in a given period of time than a human can reasonably produce in the same period by using a conventional on-line web browser. Notwithstanding the foregoing, Families in Touch grants the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of and solely to the extent necessary for creating publicly available searchable indices of the materials, but not caches or archives of such materials. Families in Touch reserves the right to revoke these exceptions either generally or in specific cases. You agree not to collect or harvest any personally identifiable information, including account names, from the Service, nor to use the communication systems provided by the Service (e.g., comments, email) for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the Service with respect to their Content.
				</li>

			
				<li>In your use of the Service, you will comply with all applicable laws.
				</li>
			
				<li>Families in Touch reserves the right to discontinue any aspect of the Service at any time.
				</li>
			</li></ol>
			
		<h3>5. Your Use of Content
		</h3>
		
		<p>In addition to the general restrictions above, the following restrictions and conditions apply specifically to your use of Content.
		</p>
			
			<ol>
				<li>The Content on the Service, and the trademarks, service marks and logos (&quot;Marks&quot;) on the Service, are owned by or licensed to Families in Touch, subject to copyright and other intellectual property rights under the law.
				</li>

			
				<li>Content is provided to you AS IS. You may access Content for your information and personal use solely as intended through the provided functionality of the Service and as permitted under these Terms of Service. You shall not download any Content unless you see a “download” or similar link displayed by Families in Touch on the Service for that Content. You shall not copy, reproduce, distribute, transmit, broadcast, display, sell, license, or otherwise exploit any Content for any other purposes without the prior written consent of Families in Touch or the respective licensors of the Content. Families in Touch and its licensors reserve all rights not expressly granted in and to the Service and the Content.
				</li>
				
				<li>You agree not to circumvent, disable or otherwise interfere with security-related features of the Service or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Service or the Content therein.
				</li>
				
				<li>You understand that when using the Service, you will be exposed to Content from a variety of sources, and that Families in Touch is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such Content. You further understand and acknowledge that you may be exposed to Content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Families in Touch with respect thereto, and, to the extent permitted by applicable law, agree to indemnify and hold harmless Families in Touch, its owners, operators, affiliates, licensors, and licensees to the fullest extent allowed by law regarding all matters related to your use of the Service.
				</li>
			</ol>
			
		<h3>6. Your Content and Conduct
		</h3>
			
			<ol>
				<li>As a Families in Touch account holder you may submit Content to the Service, including videos and user comments. You understand that Families in Touch does not guarantee any confidentiality with respect to any Content you submit.
				</li>

				
				<li>You shall be solely responsible for your own Content and the consequences of submitting and publishing your Content on the Service. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish Content you submit; and you license to Families in Touch all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content for publication on the Service pursuant to these Terms of Service.
				</li>
				
				<li>For clarity, you retain all of your ownership rights in your Content. However, by submitting Content to Families in Touch, you hereby grant Families in Touch a worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Content in connection with the Service, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels. You also hereby grant each user of the Service a non-exclusive license to access your Content through the Service, and to use, reproduce, distribute, display and perform such Content as permitted through the functionality of the Service and under these Terms of Service. The above licenses granted by you in video Content you submit to the Service terminate within a commercially reasonable time after you remove or delete your videos from the Service. You understand and agree, however, that Families in Touch may retain, but not display, distribute, or perform, server copies of your videos that have been removed or deleted. The above licenses granted by you in user comments you submit are perpetual and irrevocable.
				</li>
				
				<li>You further agree that Content you submit to the Service will not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant Families in Touch all of the license rights granted herein.
				</li>
				
				<li>Families in Touch does not endorse any Content submitted to the Service by any user or other licensor, or any opinion, recommendation, or advice expressed therein, and Families in Touch expressly disclaims any and all liability in connection with Content. Families in Touch does not permit copyright infringing activities and infringement of intellectual property rights on the Service, and Families in Touch will remove all Content if properly notified that such Content infringes on another&#39;s intellectual property rights. Families in Touch reserves the right to remove Content without prior notice.
				</li>
			</ol>
		
		<h3>7. Account Termination Policy
		</h3>

			<ol>
				<li>Families in Touch will terminate a user&#39;s access to the Service if, under appropriate circumstances, the user is determined to be a repeat infringer.
				</li>
				
				<li>Families in Touch reserves the right to decide whether Content violates these Terms of Service for reasons other than copyright infringement, such as, but not limited to, pornography, obscenity, or excessive length. Families in Touch may at any time, without prior notice and in its sole discretion, remove such Content and/or terminate a user&#39;s account for submitting such material in violation of these Terms of Service.
				</li>
			</ol>
		
		<h3>8. Limitation of Liability
		</h3>
			<p>IN NO EVENT SHALL FAMILIES IN TOUCH, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.
			</p>

				
			<p>YOU SPECIFICALLY ACKNOWLEDGE THAT FAMILIES IN TOUCH SHALL NOT BE LIABLE FOR CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.
			</p>
				
			<p>The Service is controlled and offered by Families in Touch from its facilities in the Canada. Families in Touch makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are responsible for compliance with local law.
			</p>
		
		<h3>9. Indemnity
		</h3>
			<p>To the extent permitted by applicable law, you agree to defend, indemnify and hold harmless Families in Touch, its parent corporation, officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney&#39;s fees) arising from: (i) your use of and access to the Service; (ii) your violation of any term of these Terms of Service; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that your Content caused damage to a third party. This defense and indemnification obligation will survive these Terms of Service and your use of the Service.
			</p>
			
		<h3>10. Ability to Accept Terms of Service
		</h3>
			<p>You affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms of Service, and to abide by and comply with these Terms of Service. In any case, you affirm that you are over the age of 13, as the Service is not intended for children under 13. If you are under 13 years of age, then please do not use the Service. There are lots of other great web sites for you. Talk to your parents about what sites are appropriate for you.
			
			</p>

		
		<h3>11. Assignment
		</h3>
			<p>These Terms of Service, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Families in Touch without restriction.
			</p>
			
		<h3>12. General
		</h3>
		
			<p>You agree that: (i) the Service shall be deemed solely based in Ontario; and (ii) the Service shall be deemed a passive website that does not give rise to personal jurisdiction over Families in Touch, either specific or general, in jurisdictions other than Ontario. These Terms of Service shall be governed by the internal substantive laws of the Province of Ontario, without respect to its conflict of laws principles. Any claim or dispute between you and Families in Touch that arises in whole or in part from the Service shall be decided exclusively by a court of competent jurisdiction located in Toronto, Ontario. These Terms of Service, together with the Privacy Notice at <a href="http://familiesintouch.taglab.utoronto.ca/privacy" target="_blank">http://familiesintouch.taglab.<WBR>utoronto.ca/privacy</a> and any other legal notices published by Families in Touch on the Service, shall constitute the entire agreement between you and Families in Touch concerning the Service. If any provision of these Terms of Service is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Service, which shall remain in full force and effect. No waiver of any term of this these Terms of Service shall be deemed a further or continuing waiver of such term or any other term, and Families in Touch&#39;s failure to assert any right or provision under these Terms of Service shall not constitute a waiver of such right or provision. Families in Touch reserves the right to amend these Terms of Service at any time and without notice, and it is your responsibility to review these Terms of Service for any changes. Your use of the Service following any amendment of these Terms of Service will signify your assent to and acceptance of its revised terms. YOU AND FAMILIES IN TOUCH AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
			</p>

				
		<h3>Dated: July 21, 2010
		</h3>
	</div>
</div>
